body {
    font-family: 'Inter', sans-serif;
}


.todolist-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle-conteiner {
    padding: 30px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(209, 209, 209);
    height: 435px;
    width: 610px;
}

.sort-and-filter-buttons-conteiner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sort-buttons-conteiner {
    display: flex;
    align-items: center;
    padding: 5px;
    height: 25px;
    width: 249.72px;
    background-color: grey;
    border-radius: 5px;
}

.sort-button {
    position: relative;
    background: none;
    border: none;
    padding: 5px;
    margin: 0;
    color: white;
}

.sort-button:hover {
    text-shadow: 0.3px 0 0 currentColor,
        -0.3px 0 0 currentColor;
}

.filter-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: white;
    background-color: grey;
    border-radius: 5px;
}

.filter-button:hover {
    text-shadow: 0.3px 0 0 currentColor,
        -0.3px 0 0 currentColor;
}


.head-conteiner {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: rgb(77, 70, 255);
    width: 670px;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bottom-conteiner {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 630px;
    height: 30px;
    background-color: rgb(77, 70, 255);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
}

.heading {
    margin: 20px;
    color: white;
}

.input-btn-conteiner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.add-btn {
    color: white;
    background: gray;
    width: 90px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.add-input {
    padding: 5px;
    width: 470px;
    height: 20px;
}

.todo-list {
    padding: 0px;
    margin: 20px 20px;
    list-style-type: none
}

.todo-box {
    margin-bottom: 7px;
}

.todo-cancel-btn {
    margin-right: 1.5px;
}

.todo-done-btn {
    margin-left: 1.5px;
}


.todo-list-tasks {
    display: flex;
    justify-content: space-between;
    background: rgb(209 209 209);
    border: 1px solid #8a8a8a;
    border-radius: 18px;
    padding: 24px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04)
}

.todo-list-tasks.active {
    text-decoration: line-through;
    text-decoration-color: white;

}

.total-counter {
    margin: 0;
    width: 150px;
    color: white;
}

.active-and-done-counter {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.active-counter {
    margin: 0px;
}

.done-counter {
    margin: 0px;
}