body {
    font-family: 'Courier New', Courier, monospace;
}


.todolist-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle-conteiner {
    background-color: rgb(209, 209, 209);
    height: 400px;
    width: 600px;
}

.head-conteiner {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: rgb(77, 70, 255);
    width: 600px;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bottom-conteiner {
    width: 600px;
    height: 70px;
    background-color: rgb(77, 70, 255);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.heading {
    margin: 20px;
    color: white;
}

.input-btn-conteiner {
    display: flex;
    justify-content: space-between;
}

.add-btn {
    margin-top: 15px;
    margin-right: 30px;
    color: white;
    background: gray;
    width: 80px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;

}

.add-input {
    padding: 5px;
    margin-top: 15px;
    margin-left: 30px;
    width: 440px;
    height: 20px;
}