body {
    font-family: 'Inter', sans-serif;
}


.todolist-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle-conteiner {
    padding: 30px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(209, 209, 209);
    height: 435px;
    width: 610px;
}

.sort-and-filter-buttons-conteiner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sort-buttons-conteiner {
    display: flex;
    align-items: center;
    padding: 5px;
    height: 25px;
    width: 249.72px;
    background-color: grey;
    border-radius: 5px;
}

.sort-button {
    position: relative;
    background: none;
    border: none;
    padding: 5px;
    margin: 0;
    color: white;
}

.sort-button:hover {
    text-shadow: 0.3px 0 0 currentColor,
        -0.3px 0 0 currentColor;
}

.filter-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: white;
    background-color: grey;
    border-radius: 5px;
}

.filter-button:hover {
    background: rgb(99, 99, 99);
    transition: 0.3s;
}


.head-conteiner {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: rgb(77, 70, 255);
    width: 670px;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bottom-conteiner {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 630px;
    height: 30px;
    background-color: rgb(77, 70, 255);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
}

.heading {
    margin: 20px;
    color: white;
}

.input-btn-conteiner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.add-btn {
    color: white;
    background: gray;
    width: 90px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.add-btn:hover {
    background: rgb(99, 99, 99);
    transition: 0.3s;
}

.add-input {
    padding: 5px;
    width: 470px;
    height: 20px;
}

.todo-list {

    padding: 0px;
    margin: 20px 20px;
    list-style-type: none
}

.todo-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
    border: 1px solid #8a8a8a;
    border-radius: 18px;
    padding: 24px;
}

.todo-cancel-btn {
    height: 25px;
    margin-right: 1.5px;
    color: white;
    background: gray;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

.todo-cancel-btn:hover {
    background: rgb(99, 99, 99);
    transition: 0.3s;
}

.todo-done-btn {
    margin-left: 1.5px;
    height: 25px;
    color: white;
    background: gray;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

.todo-done-btn:hover {
    background: rgb(99, 99, 99);
    transition: 0.3s;
}

.task-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.time-and-status-couneiner {
    margin-top: 6px;
}

.todo-list-tasks {
    padding: 3px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.task-name.active {
    text-decoration: line-through;
    text-decoration-color: white;
}

.total-counter {
    margin: 0;
    width: 150px;
    color: white;
}

.active-and-done-counter {
    margin-top: 5px;
    display: flex;
}

.active-counter {
    margin: 0px;
}

.done-counter {
    margin: 0px;
}

.todo-yes-no-buttones {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-task-time {
    font-size: 12.5px;
}